h2{
    text-align: center;
    color: purple;
    font-family:'Courier New', Courier, monospace
}

p1{
    font-family:'Courier New', Courier, monospace
}

.logo{
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}