h2{
    text-align: center;
    color: plum;
    font-family:'Courier New', Courier, monospace
}

p1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: white
}

.logo{
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto

}


p3{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: white;
    text-align: center
}