h2{
    text-align: center;
    color: plum;
    font-family:'Courier New', Courier, monospace
}

p1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: white
}

.logo{
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto

}


p3{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: white;
    text-align: center
}

/* unvisited link */
a:link {
    color: plum;
  }
  
  /* visited link */
  a:visited {
    color: plum;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

  h3{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: plum;
  }

::selection{
  color:violet;
  background: beige;
}